<%= form_for([:admin, @advertiser]) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :billing_info %>
    <%= f.text_area :billing_info, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <%= f.submit 'Create Advertiser', class: 'btn btn-primary' %>
<% end %>
