<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-image: url('<%= asset_path('elk.webp') %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">

  <!-- Semi-transparent overlay -->
  <div class="footer-overlay">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">

    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 footer-column">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 section-card-heading">
            FALLSTRADE.COM
          </h6>
          <p>
            Have any questions or comments? We're just a call or email away. 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 footer-column">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 section-card-heading">
            Products
          </h6>
          <p>
            <%= link_to "Marketplace", marketplace_path, class: 'text-reset'  %>
          </p>
          <p>
            <%= link_to "Business Directory", companies_path, class: ' text-reset' %>
          </p>
          <p>
            <%= link_to "Jobs", jobs_path, class: ' text-reset' %>
          </p>
          <p>
          <%= link_to "News&Events", articles_path, class: ' text-reset' %>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 footer-column">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 section-card-heading">
            Useful links
          </h6>
          <p>
             <%= link_to "List Your Business", new_company_path, class: ' text-reset' %>
          </p>
          <p>
            <%= link_to "List Your Item", new_listing_path, class: ' text-reset' %>
         
          </p>
          <p>
              <%= link_to "List Your Job", new_job_path, class: ' text-reset' %>
          </p>
          <p>
        
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 footer-column">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 section-card-heading">Contact</h6>
          <p><i class="fas fa-home me-3 text-white fw-bold"></i> Twin Falls, ID 83301, US</p>
          <p>
            <i class="fas fa-envelope me-3 fw-bold text-white"></i>
            fallstradedotcom@gmail.com
          </p>
          <p><i class="fas fa-phone me-3 fw-bold text-white"></i>
            208-738-3090
          </p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->


  
  <!-- Copyright -->
  <div class="text-center text-white p-4 footer-column mt-4">
    © 2022-<%= Time.now.year %> Copyright  <%= link_to "FallsTrade.com", root_path, class: "text-reset fw-bold" %> |
    <%= link_to "Privacy Policy", privacy_policy_path %> |
    <%= link_to "Terms of Service", terms_of_service_path %>
  </div>
  <!-- Copyright -->
    </div>
  <!-- End Semi-transparent overlay -->
      </div>
  </section>
  <!-- Section: Links  -->

</footer>
<!-- Footer -->
