 
  <div class="alert alert-danger text-center mt-5" role="alert">Currently beta testing! Please try it out and tell me what you think. Email me at fallstradedotcom@gmail.com 
  <%= link_to "Sign Up Now", new_user_registration_path %> </div>
<main>
 
 
<% content_for :page_title do %>
  FallsTrade.com
<% end %>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
<%= image_tag("ft-2.png", class: "d-block mx-lg-auto img-fluid", alt: "", width: "740", height: "500", loading: "lazy") %>

      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Let's Build a Digital Townhall Together</h1>
        <p class="lead">I've created a free, easy way for anyone in and around Twin Falls, Idaho to sell stuff, advertise their business, find or post jobs, and share local events or news. My main goal? To make sure you're super happy with the service you get. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         <%= link_to "List Your Business", new_company_path, class: "btn btn-primary btn-lg px-4 me-md-2" %>
         <%= link_to "List Your Item", new_listing_path, class: "btn btn-secondary btn-lg px-4 me-md-2" %>
         <%= link_to "List A Job", new_job_path, class: "btn btn-tertiary btn-lg px-4 me-md-2" %>
        </div>
      </div>
    </div>
  </div>



<div class="custom-hero mt-5" style="background-image: url(<%= asset_path 'bridge.webp' %>)">
  <!-- New container for the special section -->
  <div class="special-section-left">
    <div class="section-card">
      <h3 class="section-card-heading">Why?</h3>
      <p class="section-card-body">I built Fallstrade.com because I am tired of the scams and the fact that no one is guarding the henhouse on the big sites. <br/><br/> I will block scammers.</p>
    </div>
  </div>
</div>


<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      
      <!-- Image Column -->
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag("community-logo-transparent.png", class: "d-block mx-lg-auto img-fluid", alt: "", width: "500", loading: "lazy") %>
      </div>
      
      <!-- Text Column -->
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Community</h1>
        <p class="lead">Connect with friends and share your latest updates through Poasts. Whether you're an individual sharing your daily adventures or a business cultivating a loyal following, this platform brings our community closer.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <%= link_to "Search Users", search_users_path, class: "btn btn-primary btn-lg px-4 me-md-2" %>
        </div>
      </div>

    </div>
  </div>



<div class="custom-hero mt-5" style="background-image: url(<%= asset_path 'cows.webp' %>)">
  <!-- Container for the card, aligned to the right -->
  <div class="special-section-right">
    <div class="section-card">
      <h3 class="section-card-heading">Tell Me What You Think!</h3>
      <p class="section-card-body">I greatly value your input. I wrote every line of code and I can implement most any of your suggestions.</p>

    </div>
  </div>
</div>



  <div class="container col-xxl-8 px-4 py-5 mb-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
<%= image_tag("for-hire-logo.png", class: "d-block mx-lg-auto img-fluid", alt: "", width: "500", loading: "lazy") %>

      </div>


<div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">I Am Available For Hire</h1>
    <p class="lead">I can handle every step from building the initial prototype to designing and deploying it on the internet, incorporating any features and functionality you can imagine.</p>
    
    <!-- Contact Information -->
    <p class="lead">
       Samuel<br>
        <a href="mailto:fallstradedotcom@gmail.com">fallstradedotcom@gmail.com</a><br>
        <a href="tel:+12087383090"> 208-738-3090 </a>
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <!-- Buttons or other elements can go here -->
    </div>
</div>
      
      
      
   







  </main>


  <div class="b-example-divider"></div>
