  <div class="alert alert-danger text-center" role="alert">Register your business for free for life. Limited Time Offer! 
  <%= link_to "Sign Up Now", new_user_registration_path %> </div>
<main>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
<%= image_tag("marketplace.jpg", class: "d-block mx-lg-auto img-fluid", alt: "", width: "700", height: "500", loading: "lazy") %>

      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Discover Local Wonders with FallsTrade.com</h1>
        <p class="lead">Nestled in the cradle of the Magic Valley, we connect you with the businesses and services that make our town a special place to live, work, and play. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
         <%= link_to "List Your Business", new_company_path, class: "btn btn-primary btn-lg px-4 me-md-2" %>

        </div>
      </div>
    </div>
  </div>


  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
<%= image_tag("tractors.jpg", class: "d-block mx-lg-auto img-fluid", alt: "", width: "700", height: "500", loading: "lazy") %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Always Here For You</h1>
        <p class="lead">We're not a faceless entity located in a far-off city. We're your neighbors. We're part of your community. When you have questions or need support, you can reach out to us directly by phone or email. We pride ourselves on being accessible, responsive, and eager to assist you.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">

        </div>
      </div>
    </div>
  </div>
  </main>


  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
<%= image_tag("phonebook.png", class: "d-block mx-lg-auto img-fluid", alt: "", width: "700", height: "500", loading: "lazy") %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Discover Local Wonders with FallsTrade.com</h1>
        <p class="lead">Nestled in the cradle of the Magic Valley, we connect you with the businesses and services that make our town a special place to live, work, and play. As your hyperlocal marketplace and business directory, we are dedicated to lifting up our local economy, amplifying the voices of small businesses, and strengthening the ties that make us a community.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>


  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/marketplace.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Always Here For You</h1>
        <p class="lead">What sets FallsTrade apart is our dedication to customer service. We're not a faceless entity located in a far-off city. We're your neighbors. We're part of your community. And we're here for you. When you have questions or need support, you can reach out to us directly by phone or email. We pride ourselves on being accessible, responsive, and eager to assist in making your experience with FallsTrade a success.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
  </main>





  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Discover Local Wonders with FallsTrade</h1>
        <p class="lead">Welcome to FallsTrade.com, the vibrant heart of Twin Falls, Idaho's local commerce! 🎉</p>
        <hr class="my-4">
        <p>Nestled in the cradle of your community, we connect you with the businesses and services that make our town a special place to live, work, and play. As your hyperlocal marketplace and business directory, we are dedicated to lifting up our local economy, amplifying the voices of small businesses, and strengthening the ties that make us a community.</p>
        <p class="lead">
          <strong>Always Here for You</strong>
        </p>
        <p>What sets FallsTrade apart is our dedication to customer service. We're not a faceless entity located in a far-off city. We're your neighbors. We're part of your community. And we're here for you. When you have questions or need support, you can reach out to us directly by phone or email. We pride ourselves on being accessible, responsive, and eager to assist in making your experience with FallsTrade a success.</p>
        <p>Enjoy the peace of mind knowing that we're just a call or email away. Because at FallsTrade, you're not just a customer, you're our neighbor.</p>
        <hr class="my-4">
        <p>Join us on this exciting journey and explore the bounty of Twin Falls, Idaho! Support Local, Discover More with FallsTrade.com.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started with FallsTrade Today! 🚀</a>
    </div>
</div>
