<div id="<%= dom_id provider %>">
  <p>
    <strong>Company:</strong>
    <%= provider.company %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= provider.contact %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= provider.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= provider.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= provider.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= provider.website %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= provider.hours %>
  </p>

  <p>
    <strong>About:</strong>
    <%= provider.about %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= provider.category %>
  </p>

</div>
