<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>All Poasts by <%= @user.username %></h1>
      <%= link_to "Back to User Profile", user_path(@user.username), class: 'btn btn-secondary mb-3' %>
      
      <div class="card-columns">
        <% @poasts.each do |poast| %>
          <div class="card mb-3">
            <% if poast.thumbnail.present? %>
              <%= image_tag poast.thumbnail, class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <%= link_to truncate(poast.title, length: 60), poast_path(poast), class: "card-title" %>
              <p class="card-text">
                <%= truncate(poast.subheading, length: 60) %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
 
      <%= paginate @poasts %>
      
    </div>
  </div>
</div>
