<div class="container mt-5">
  <h1 class="display-4 bevan-font"><%= @poast.title %></h1>
  <h3 class="text-muted"><%= @poast.subheading %></h3>

  
  <div class="mt-5">
    <% if @poast.thumbnail.attached? %>
      <%= image_tag @poast.thumbnail, class: 'img-fluid' %>
    <% else %>
      <p>No thumbnail available.</p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= @poast.content %>
  </div>

      <!-- Avatar and Posted by -->
  <div class="d-flex align-items-center mt-5">
    <div class="me-3">
      <%= render partial: 'shared/avatar', locals: { user: @poast.user } %>
    </div>
    <div>
      Posted by: <%= link_to @poast.user.username.capitalize, user_path(@poast.user) %>
      <span class="text-muted small">- <%= time_ago_in_words(@poast.created_at) %> ago</span>
    </div>
  </div>

  
 <div class="mt-4">
  <span style="margin-right: 20px;">
    <i class="fa fa-eye"></i> <%= @poast.views %> Views
  </span>
  <span>
    <i class="fa fa-comments"></i> <%= @total_comments_and_replies %> Comments
  </span>
</div>
<div class="mt-3">
  <% if current_user&.moderator? %>
    <% if @poast.pinned? %>
      <%= button_to 'Unpin', unpin_poast_path(@poast), method: :delete, class: 'btn btn-secondary' %>
    <% else %>
      <%= button_to 'Pin', pin_poast_path(@poast), method: :post, class: 'btn btn-tertiary' %>
    <% end %>
  <% end %>
</div>

<!-- Action Buttons and Follow/Message Icons -->
<div class="mt-5 d-flex justify-content-start align-items-center">
  <%= render partial: 'shared/action_buttons', locals: { resource: @poast, resource_type: 'poast' } %>
  <div class="card-icons ms-3">
    <%= render 'shared/follow_button', user: @poast.user %>
    <%= render 'shared/send_message_button', user: @poast.user %>
  </div>
</div>

<!-- Comments Section -->
<%= render partial: 'shared/comments_section', locals: { comments: @comments, commentable: @poast } %>
<div class="mb-5">
</div>

</div>  
