<div class="container mt-5">
  <h1 class="display-4"><%= @poast.title %></h1>
  <h3 class="text-muted"><%= @poast.subheading %></h3>


  
  <div class="mt-4">
    <% if @poast.thumbnail.attached? %>
      <%= image_tag @poast.thumbnail, class: 'img-fluid' %>
    <% else %>
      <p>No thumbnail available.</p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= @poast.content %>
  </div>


  <div class="mt-5">
    <%= render partial: 'shared/action_buttons', locals: { resource: @poast, resource_type: 'poast' } %>
  </div>
  <!-- Comments Section -->
  <%= render partial: 'shared/comments_section', locals: { comments: @comments, commentable: @poast } %>
  <div class="mb-5">
  </div>
</div>  
