<div class="container mt-5">
  <h1 class="display-4"><%= @poast.title %></h1>
  <h3 class="text-muted"><%= @poast.subheading %></h3>

  <div class="mt-4">
    <% if @poast.thumbnail.attached? %>
      <%= image_tag @poast.thumbnail, class: 'img-fluid' %>
    <% else %>
      <p>No thumbnail available.</p>
    <% end %>
  </div>

  <div class="mt-4">
    <%= @poast.content %>
  </div>

  <div class="mt-5">
    <%= link_to 'Edit', edit_poast_path(@poast), class: 'btn btn-primary' %>
    <%= link_to 'Back', poasts_path, class: 'btn btn-secondary' %>
  </div>


  <!-- Comments Section -->
  <h2>Comments!</h2>
<div class="row mt-5">
  <div class="col">
    <%= render partial: 'comments/comment', collection: @comments %>
  </div>
</div>


<div class="mt-4">
  <%= paginate @comments %>
</div>

  <hr>

  <!-- Add a Comment -->
  <h2>Add a Comment</h2>
  <div class="row mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'comments/form', commentable: @poast %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
    </div>
  </div>
</div>  