<div class="card h-100 no-underline">
  <% if company.logo.attached? %>
    <%= image_tag company.logo.variant(resize_to_limit: [300, 200]), class: 'card-img-top' %>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= company.name %></h5>
    <p class="card-text text-dark"><%= company.about.truncate(160) %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item no-underline">
      <i class="fas fa-map-marker-alt"></i> <%= company.address %>
    </li>
    <li class="list-group-item no-underline">
      <i class="fas fa-phone"></i> <%= company.phone %>
    </li>
    <li class="list-group-item no-underline">
      <i class="fas fa-envelope"></i> <%= mail_to company.email %>
    </li>
    <li class="list-group-item no-underline">
      <i class="fas fa-globe"></i> <%= link_to company.website, company.website, target: "_blank" %>
    </li>
    <li class="list-group-item no-underline">
      <i class="fas fa-clock"></i> <%= company.hours %>
    </li>
    <li class="list-group-item no-underline">
      <i class="fas fa-industry"></i> <%= Company.categories[company.category] %>
    </li>
  </ul>

  <div class="card-footer no-underline">
    <small class="text-muted">More details...</small>
  </div>
</div>

