<!-- company_body.html.erb -->
<div class="company-body">
  <!-- About Section -->
  <div class="about mb-2">
    <%= company.about.truncate(160) %>
  </div>

  <!-- Address -->
  <div class="row">
    <div class="col">
      <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
      <%= company.address %>
    </div>
  </div>

  <!-- Phone -->
  <div class="row mt-1">
    <div class="col">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <%= company.phone %>
    </div>
  </div>

  <!-- Email -->
  <div class="row mt-1">
    <div class="col">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <%= mail_to company.email %>
    </div>
  </div>

  <!-- Website -->
  <div class="row mt-1">
    <div class="col">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <%= link_to company.website, company.website, target: "_blank" %>
    </div>
  </div>

  <!-- Hours -->
  <div class="row mt-1">
    <div class="col">
      <i class="fa fa-clock" aria-hidden="true"></i>
      <%= company.hours %>
    </div>
  </div>

  <!-- Industry -->
  <div class="row mt-1">
    <div class="col">
      <i class="fa fa-industry" aria-hidden="true"></i>
      <%= Company.categories[company.category] %>
    </div>
  </div>
</div>
