<div id="<%= dom_id company %>" class="card mt-2">
  <div class="card-body">
    <div class="card-title d-flex align-items-center justify-content-between">
      <!-- Logo, Title, and Action Buttons in a flex container -->
      <div class="d-flex align-items-center">
        <% if company.logo.attached? %>
          <%= image_tag company.logo.variant(:thumb), width: '100', height: '100', class: 'me-2' %>
        <% end %>
        <h3 class="mb-0"><%= link_to company.name, company %></h3>
      </div>

      <div class="ms-3 d-flex align-items-center">
        <%= render 'shared/follow_button', user: @user, style: 'margin-right: 10px;' %>
        <%= render 'shared/send_message_button', user: @user %>
      </div>

      <% if company.user == current_user %>
        <div class="ms-auto">
          <%= link_to edit_company_path(company), class: "btn btn-outline-secondary btn-sm" do %>
            <i class="fas fa-pen"></i> Edit
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <i class="fas fa-map-marker-alt"></i> <strong>Address:</strong>
          <%= company.address %>
        </p>

        <p>
          <i class="fas fa-user"></i> <strong>Contact:</strong> <%= company.contact %>
        </p>

        <p>
          <i class="fas fa-phone"></i> <strong>Phone:</strong>
          <%= company.phone %>
        </p>

        <p>
          <i class="fas fa-envelope"></i> <strong>Email:</strong>
          <%= mail_to company.email %>
        </p>
      </div>

      <div class="col-md-6">
        <p>
          <i class="fas fa-globe"></i> <strong>Website:</strong>
          <%= link_to company.website, company.website, target: "_blank" %>
        </p>

        <p>
          <i class="fas fa-clock"></i> <strong>Hours:</strong>
          <%= company.hours %>
        </p>

        <p>
          <i class="fas fa-industry"></i> <strong>Industry:</strong>
          <%= Company.categories[company.category] %>
        </p>
      </div>
    </div>
  </div>
</div>
