<div class="container mt-5">

<% content_for :page_title do %>
  Business Directory
<% end %>

<% content_for :custom_buttons do %>
  <%= link_to new_company_path, class: "btn btn-custom mb-3" do %>
    <i class="fa fa-pencil-alt"></i> List Your Business
  <% end %>
<% end %>


  <div class="row">
    <div class="col d-flex justify-content-center text-center">
      <%= render 'search' %>
    </div>
  </div>
<div class="row mt-4 justify-content-center">
  <% @companies.each do |company| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <%= link_to company_path(company), class: "no-underline" do %>
        <%= render partial: 'company_body', locals: { company: company } %>
      <% end %>
    </div>
  <% end %> 
</div>

  <div class="row mt-4">
    <div class="col d-flex justify-content-center">
      <%= paginate @companies %>
    </div>
  </div>
</div>
