<div class="container">
<%= render @company %>

<% unless @company.description.body.blank? %>
<div class="card mt-4">
  <div class="card-body mt-4">
    <h3 class="card-title"></h3>
<%= @company.description %>
</div>
</div>
<% end %>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Back to companies", companies_path %>

  <%= button_to "Destroy this company", @company, method: :delete %>
</div>


<%= @company.user.id %>
</div>