<div class="container">
  <div class="d-flex justify-content-center">
    <%= link_to "New listing", new_listing_path, class: "btn btn-primary mb-3" %>
  </div>
  <h1 class="text-center">Listings</h1>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <% if listing.thumbnail.attached? %>
              <%= image_tag listing.thumbnail.variant(:thumb),
                   width: '300', height: '300', class: 'mx-auto d-block' %>
            <% end %>
            <h2 class="card-title"><%= listing.title %></h2>
            <div>
              <span class="badge bg-primary rounded-pill">Location: <%= listing.location %></span>
              <span class="badge bg-success rounded-pill">Price: <%= listing.price %></span>
              <span class="badge bg-warning rounded-pill">Views: <%= listing.views %></span>
            </div>
            <p class="card-text mt-2"><%= listing.description %></p>
            <%= link_to "Show this listing", listing, class: "btn btn-secondary mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
