<div class="container">


<div class="container">
  <h1>Listings</h1>
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
                    <% if listing.thumbnail.attached? %>
            <%= image_tag listing.thumbnail.variant(:thumb),
                 width: '300', height: '300', class: 'mx-auto d-block' %>
          <% end %>
            <h2 class="card-title"><%= listing.title %></h2>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text">Location: <%= listing.location %></p>
            <p class="card-text">Price: <%= listing.price %></p>
            <p class="card-text">Views: <%= listing.views %></p>
            <%= link_to "Show this listing", listing %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "New listing", new_listing_path %>
</div>


<h1>FOO</h1>
<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= listing.title %></h2>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text">Location: <%= listing.location %></p>
          <p class="card-text">Price: <%= listing.price %></p>
          <p class="card-text">Views: <%= listing.views %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"><%= listing.title %></h2>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text">Location: <%= listing.location %></p>
          <p class="card-text">Price: <%= listing.price %></p>
          <p class="card-text">Views: <%= listing.views %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


<% @listings.each do |listing| %>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= listing.title %></h2>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">Location: <%= listing.location %></p>
      <p class="card-text">Price: <%= listing.price %></p>
      <p class="card-text">Views: <%= listing.views %></p>
    </div>
  </div>
<% end %>




<div id="listings">
  <% @listings.each do |listing| %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  <% end %>
</div>

<%= link_to "New listing", new_listing_path %>

</div>
