<div class="container">

  <% if @listing.thumbnail.attached? %>
    <%= image_tag @listing.thumbnail.variant(:thumb), width: '200', height: '200', class: 'me-2' %>
  <% end %>

  <div id="<%= dom_id @listing %>">
  <h3>
    
    <%= @listing.title %>
  </h3>

  <p>
    
    <%= @listing.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @listing.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= @listing.views %>
  </p>

  <p> Posted by: <%= @listing.user.username %>

</div>

<hr>

<%= @listing.content %>


<div>
  <!-- app/views/listings/show.html.erb -->
<%= form_with url: flag_listing_path(@listing), method: :post do %>
  <%= submit_tag "Flag this listing" %>
<% end %>

  <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
  <%= link_to "Back to listings", listings_path %>

  <%= button_to "Destroy this listing", @listing, method: :delete %>
</div>



  
<hr>
<h2>Comments!</h2>
  <div class="row mt-5">
    <div class="col">
      <% @listing.comments.each do |comment| %>

        <div class="card mb-3">
    <div class="card-body">
        <%= comment.content %>

        <p class="text-muted mt-2">
            Posted by <%= comment.user.username %> on <%= comment.created_at.strftime('%B %d, %Y') %>
        </p>
    </div>
</div>


        
      <% end %>
    </div>
  </div>

<hr>
<h2>Add a Comment</h2>
  <div class="row mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
    </div>
  </div>



</div> 