<div class="container">

  <% if @listing.thumbnail.attached? %>
    <%= image_tag @listing.thumbnail.variant(:thumb), width: '200', height: '200', class: 'me-2' %>
  <% end %>

  <div id="<%= dom_id @listing %>">
  <h3>
    
    <%= @listing.title %>
  </h3>

  <p>
    
    <%= @listing.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @listing.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @listing.price %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= @listing.views %>
  </p>
<p>
    Posted by: <%= link_to @listing.user.username, user_path(@listing.user) %> <span class="small">- <%= @listing.created_at.strftime('%B %d, %Y') %></span>
      
    </p>

</div>

<hr>

<%= @listing.content %>


<div>
  <!-- app/views/listings/show.html.erb -->
<%= form_with url: flag_listing_path(@listing), method: :post do %>
  <%= submit_tag "Flag this listing" %>
<% end %>


<% if @listing.user == current_user || current_user.moderator? %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= button_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

  <%= link_to "Back to listings", listings_path %>

</div>



  
<hr>
<h2>Comments!</h2>
<div class="row mt-5">
  <div class="col">
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
  </div>
</div>



      
<hr>
<h2>Add a Comment</h2>
  <div class="row mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'comments/form', commentable: @listing %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
    </div>
  </div>



</div> 