<div class="card mb-3">
    <div class="card-body">
        <%= comment.content %>

        <p class="text-muted mt-2">
            Posted by <%= comment.user.username %> on <%= comment.created_at.strftime('%B %d, %Y') %>
        </p>

        <!-- This could be in a comments partial, or within your show pages for articles, listings, and jobs -->

<%= form_with url: flag_comment_path(comment), method: :post do %>
  <%= submit_tag "Flag this Comment" %>
<% end %>

    </div>
</div>