<!-- app/views/comments/index.html.erb -->

<div class="container">
  <div class="row">
    <div class="media comment-box">
      <div class="media-left">
        <a href="#">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to comment.user.username, user_path(comment.user) %></h4>
        <p><%= comment.content %></p>
        <p class="text-muted mt-2">
          Posted on <%= comment.created_at.strftime('%B %d, %Y') %>
          <%= form_with url: flag_comment_path(comment), method: :post do %>
            <%= submit_tag "Flag this Comment", class: "btn btn-danger btn-sm" %>
          <% end %>
        </p>

        <!-- Displaying replies -->
        <div class="mt-3">
          <% comment.replies.each do |reply| %>
            <div class="media mt-2">
              <div class="media-left">
                <a href="#">
                  <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to reply.user.username, user_path(reply.user) %></h4>
                <p><%= reply.content %></p>
                <p class="text-muted mt-2">
                  Posted on <%= reply.created_at.strftime('%B %d, %Y') %>
                </p>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Add a form to submit a reply to this comment -->
        <div class="mt-3">
            <%= render 'comments/reply_form', comment: comment %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card mb-3">
  <div class="card-body">
    <%= comment.content %>

    <p class="text-muted mt-2">
      Posted by <%= link_to comment.user.username, user_path(comment.user) %> on <%= comment.created_at.strftime('%B %d, %Y') %>
    </p>

    <%= form_with url: flag_comment_path(comment), method: :post do %>
      <%= submit_tag "Flag this Comment" %>
    <% end %>

    <!-- Displaying replies -->
    <div class="mt-3">
      <strong>Replies:</strong>
      <% comment.replies.each do |reply| %>
        <div class="card mt-2">
          <div class="card-body">
            <%= reply.content %>
            <p class="text-muted mt-2">
              Posted by <%= link_to reply.user.username, user_path(reply.user) %> on <%= reply.created_at.strftime('%B %d, %Y') %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Add a form to submit a reply to this comment -->
    <div class="mt-3">
       <%= render 'comments/reply_form', comment: comment %>
    </div>
  </div>
</div>
