<div class="d-flex flex-start no-shrink mt-4" id="reply_<%= reply.id %>">
  <div class="me-2 no-shrink">
    <%= render partial: 'shared/avatar', locals: { user: reply.user } %>
  </div>
  <div class="flex-grow-1 flex-shrink-1">
    <div class="d-flex justify-content-between align-items-center">
      <p class="mb-1 d-inline">
        <%= link_to reply.user.username, user_path(reply.user) %> <span class="small">- <%= reply.created_at.strftime('%B %d, %Y') %></span>
      </p>
      <div class="action-icons d-inline">
        <% if reply.user == current_user || current_user.moderator? %>
          <% parent_type = reply.comment.commentable_type.downcase %>
          <% delete_path = "#{parent_type}_comment_reply_path".to_sym %>
          <%= form_with url: send(delete_path, reply.comment.commentable, reply.comment, reply), method: :delete, class: "d-inline" do %>
            <%= button_tag(type: 'submit', class: "btn btn-sm btn-danger") do %>
              <i class="fas fa-trash"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= form_with url: flag_comment_reply_path(article_id: @article.id, comment_id: comment.id, id: reply.id), method: :post, class: "d-inline" do %>
          <%= button_tag(type: 'submit', class: "btn btn-sm btn-danger") do %>
            <i class="fas fa-flag"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <p class="small mb-0">
      <%= reply.content %>
    </p>
  </div>
</div>
