<h1>New Conversation</h1>

<%= form_with(model: @conversation, local: true) do |form| %>
  <div class="field">
    <%= form.label :sender_id %>
    <%= form.text_field :sender_id %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%= form.text_field :recipient_id %>
  </div>

  <div class="actions">
    <%= form.submit "Start Conversation" %>
  </div>
<% end %>
