<h1>Conversation with <%= @conversation.opposed_user(current_user).username %></h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <p>
        <% if message.user.avatar.attached? %>
          <%= image_tag message.user.avatar, alt: "User's avatar", width: 65, height: 65, class: "rounded-circle" %>
        <% else %>
          <!-- Fallback avatar if user doesn't have one -->
          <div class="rounded-circle shadow-1-strong me-3" style="width: 65px; height: 65px; background-color: grey;"></div>
        <% end %>
        <%= message.user.username %>
      </p>
      <%= message.content %>
      <small>(<%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>)</small>
    </li>
  <% end %>
</ul>

<%= form_with model: [@conversation, @message], url: conversation_messages_path(@conversation), local: true do |form| %>
  <%= form.text_area :content %>
  <%= form.submit "Send" %>
<% end %>
