<h1>Conversation with <%= @conversation.opposed_user(current_user).username %></h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <p>
      <%= render partial: 'shared/avatar', locals: { user: message.user } %>
       <%= message.user.username %>
      </p>
      <%= message.content %>
      <small>(<%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %>)</small>
    </li>
  <% end %>
</ul>

<%= form_with model: [@conversation, @message], url: conversation_messages_path(@conversation), local: true do |form| %>
  <%= form.text_area :content %>
  <%= form.submit "Send" %>
<% end %>
