<!-- app/views/users/edit_bio.html.erb -->
<div class="container mt-5">
  <h1>Edit Bio</h1>

  <!-- Display Errors -->
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this update:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user, url: update_bio_user_path(@user), method: :patch, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :bio %>
      <%= form.rich_text_area :bio, class: "form-control" %>

      <hr class="mt-4">

      <%= form.label :avatar %>
      <%= form.file_field :avatar %>
    </div>
    <%= form.submit 'Update Bio', class: 'btn btn-primary mt-4' %>
  <% end %>
</div>
