<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @user.username %>'s Profile</h1>
      <%= render partial: 'shared/avatar', locals: { user: @user } %>

      <!-- Badges -->
      <% @user.badges.each do |badge| %>
        <div class="badge">
          <%= image_tag url_for(badge.image) if badge.image.attached? %>
          <p><%= badge.name %></p>
          <p><%= badge.description %></p>
        </div>
      <% end %>

      <!-- User Actions -->
      <div class="mt-3 mb-3">
        <% if current_user == @user %>
          <%= link_to "Change Password", edit_user_registration_path, class: 'btn btn-warning' %>
          <%= link_to "Edit Bio", edit_bio_user_path(@user), class: 'btn btn-primary' %>
        <% end %>
      </div>

      <!-- Moderator Actions -->
      <% if current_user&.moderator? %>
        <%= button_to "Lock User", lock_user_path(@user), method: :post, class: 'btn btn-warning' %>
      <% end %>

      <!-- Flag User -->
      <% unless current_user == @user %>
        <%= button_to "Flag User", flag_user_path(@user), method: :post, class: 'btn btn-danger' %>
      <% end %>

      <!-- Bio -->
      <h2>Bio</h2>
      <% if @user.bio.present? %>
        <%= render partial: 'bio_card', locals: { bio: @user.bio } %>
      <% end %>

      <!-- User Interactions -->
      <%= render 'shared/send_message_button', user: @user %>
      <%= render 'shared/follow_button', user: @user %>
      
      <!-- User Activity -->
      <h2 class="mt-4">Activity</h2>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to "View Comment History", comments_user_path(@user) %></li>
        <li class="list-group-item"><%= link_to "View Listings", listings_user_path(@user) %></li>
        <li class="list-group-item"><%= link_to "View Articles", articles_user_path(@user) %></li>
      </ul>

      <!-- Poasts -->
      <h2>Poasts</h2>
      <%= render partial: 'poast_cards', locals: { poasts: @poasts } %>

      <!-- Comments -->
      <h2>Comments!</h2>
      <%= render partial: 'shared/comments_section', locals: { comments: @comments, commentable: @user } %>


    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div> <!-- container -->
