<!-- app/views/users/show.html.erb -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @user.username %>'s Profile</h1>

      
   <%= render partial: 'shared/avatar', locals: { user: @user } %>

<% @user.badges.each do |badge| %>
  <div class="badge">
   
    <%= image_tag url_for(badge.image) if badge.image.attached? %>
    <p><%= badge.name %></p>
    <p><%= badge.description %></p>
  </div>
<% end %>


      <!-- Displaying Bio -->
      <% if @user.bio.present? %>
        <div class="card mt-4">
          <div class="card-body">
            
            <p class="card-text"><%= @user.bio %></p>
          </div>
        </div>
      <% end %> 

   <%= render 'shared/send_message_button', user: @user %>

   <%= render 'shared/follow_button', user: @user %>


      <h2 class="mt-4">Private Messages</h2>
        <%= link_to "Conversations", conversations_path %>



      <h2 class="mt-4">Activity</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to "View Comment History", comments_user_path(@user) %>
        </li>
        <li class="list-group-item">
          <%= link_to "View Listings", listings_user_path(@user) %>
        </li>
        <li class="list-group-item">
          <%= link_to "View Articles", articles_user_path(@user) %>
        </li>
      </ul>
    </div>

<h2>Poasts</h2>
<%= link_to 'View All Poasts', poasts_path(username: @user.username), class: 'btn btn-primary' %>

<%= link_to 'New Poast', new_poast_path, class: 'btn btn-primary mb-3' %>

<% @poasts.each do |poast| %>
  <div class="card mb-3">
    <% if poast.thumbnail.present? %>
      <%= image_tag poast.thumbnail, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <%= link_to truncate(poast.title, length: 60), poast_path(poast), class: "card-title" %>
      <p class="card-text">
        <%= truncate(poast.subheading, length: 60) %>
      </p>
    </div>
  </div>
<% end %>

<% paginate @poasts %>


<h2>Comments!</h2>
<div class="row mt-5">
  <div class="col">
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
  </div>
</div>


<div class="mt-4">
  <%= paginate @comments %>
</div>

<h2>Add a Comment</h2>
  <div class="row mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'comments/form', commentable: @user %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
    </div>
  </div>



    <div class="mt-3">
    <!-- Link to change password -->
    <% if current_user == @user %>
        <%= link_to "Change Password", edit_user_registration_path, class: 'btn btn-warning' %>
    <% end %>
    </div>
  

    <div class="mb-3">
    <!-- Link to edit bio -->
    <% if current_user == @user %>
        <%= link_to "Edit Bio", edit_bio_user_path(@user), class: 'btn btn-primary' %>
    <% end %>
    </div>



  <!-- Flag User Button -->
  <% unless current_user == @user %>
    <%= button_to "Flag User", flag_user_path(@user), method: :post, class: 'btn btn-danger' %>
  <% end %>

  <!-- Lock User Button (visible only to moderators) -->
  <% if current_user&.moderator? %>
    <%= button_to "Lock User", lock_user_path(@user), method: :post, class: 'btn btn-warning' %>
  <% end %>


  </div>



</div>
