<!-- app/views/jobs/index.html.erb -->

<h1>Job Listings</h1>

<%= link_to 'New Job', new_job_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Job Type</th>
      <th>Location</th>
      <th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job %></td>
        <td><%= job.job_type %></td>
        <td><%= job.location %></td>
        <td><%= job.company_name %></td>
        <td>
          <%= link_to 'Show', job %> |
          <% if job.user == current_user %>
            <%= link_to 'Edit', edit_job_path(job) %> |
            <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
