<div class="container mt-5 mb-2">
  <h1>Job Listings</h1>

  <!-- New Job Button -->
  <div class="mb-4">
    <%= link_to 'New Job', new_job_path, class: "btn btn-primary" %>
  </div>

<div class="container mt-4">
  <%= search_form_for @q, class: 'form-inline' do |f| %>
    <div class="form-group mr-2">
      <%= f.label :title_cont, 'Title contains', class: 'mr-1' %>
      <%= f.search_field :title_cont, class: 'form-control' %>
    </div>

    <div class="form-group mr-2">
      <%= f.label :job_type_cont, 'Job Type contains', class: 'mr-1' %>
      <%= f.search_field :job_type_cont, class: 'form-control' %>
    </div>

    <div class="form-group mr-2">
      <%= f.label :location_cont, 'Location contains', class: 'mr-1' %>
      <%= f.search_field :location_cont, class: 'form-control' %>
    </div>

    <div class="form-group mt-2">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>



  <!-- Job List Group -->
  <div class="list-group mt-4">
    <% @jobs.each do |job| %>
      <div class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5 class="mb-1"><%= link_to job.title, job %></h5>
            <p class="mb-1">Type: <%= job.job_type %></p>
            <p class="mb-1">Location: <%= job.location %></p>
            <p class="mb-1">Company: <%= job.company_name %></p>
          </div>
          <div>
          
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @jobs %>
  </div>

</div>
