<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @job.title %></h1>
      
      <!-- Job Details -->
      <div class="mt-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fas fa-align-left"></i>
            <strong>Description:</strong> <%= @job.description %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-briefcase"></i>
            <strong>Job Type:</strong> <%= @job.job_type %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-map-marker-alt"></i>
            <strong>Location:</strong> <%= @job.location %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-building"></i>
            <strong>Company:</strong> <%= @job.company_name %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-info-circle"></i>
            <strong>Company Description:</strong> <%= @job.company_description %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-globe"></i>
            <strong>Company Website:</strong> <%= link_to @job.company_website, @job.company_website %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-phone"></i>
            <strong>Company Phone:</strong> <%= @job.company_phone %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-envelope"></i>
            <strong>Company Contact:</strong> <%= @job.company_contact %>
          </li>
          <li class="list-group-item">
            <i class="fas fa-clipboard-list"></i>
            <strong>Details:</strong> <%= @job.details %>
          </li>
        </ul>
      </div>

      <p class="mt-3">
        <i class="fas fa-user"></i>
        Posted by: <%= link_to @job.user.username, user_path(@job.user) %> 
        <span class="small"><i class="fas fa-clock"></i> <%= @job.created_at.strftime('%B %d, %Y') %></span>
      </p>
      
      <%= render partial: 'shared/action_buttons', locals: { resource: @job, resource_type: 'job' } %>

      <div class="mt-3">
        <% if current_user.moderator? %>
          <% if @job.pinned %>
            <%= button_to 'Unpin', unpin_job_path(@job), method: :post, class: 'btn btn-warning' %>
          <% else %>
            <%= button_to 'Pin', pin_job_path(@job), method: :post, class: 'btn btn-success' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <%= render partial: 'shared/comments_section', locals: { comments: @comments, commentable: @job } %>
</div>
