<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @job.title %></h1>
      
      <!-- Job Details -->
      <div class="mt-4">
        <p><strong>Description:</strong> <%= @job.description %></p>
        <p><strong>Job Type:</strong> <%= @job.job_type %></p>
        <p><strong>Location:</strong> <%= @job.location %></p>
        <p><strong>Company:</strong> <%= @job.company_name %></p>
        <p><strong>Company Description:</strong> <%= @job.company_description %></p>
        <p><strong>Company Website:</strong> <%= link_to @job.company_website, @job.company_website %></p>
        <p><strong>Company Phone:</strong> <%= @job.company_phone %></p>
        <p><strong>Company Contact:</strong> <%= @job.company_contact %></p>
        <p><strong>Details:</strong> <%= @job.details %></p>
      </div>

    <p>
      Posted by: <%= link_to @job.user.username, user_path(@job.user) %> <span class="small">- <%= @job.created_at.strftime('%B %d, %Y') %></span>
    </p>
      <!-- Edit and Delete Buttons -->
      <div class="mt-3">
        <%= link_to 'Back', jobs_path, class: "btn btn-secondary" %>
        <% if @job.user == current_user %>
          <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-primary" %> |
          <%= button_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
        <!-- app/views/jobs/show.html.erb -->
        <%= form_with url: flag_job_path(@job), method: :post do %>
          <%= submit_tag "Flag this Job" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <hr>
  <h2>Comments!</h2>
<div class="row mt-5">
  <div class="col">
    <%= render partial: 'comments/comment', collection: @comments %>
  </div>
</div>


  <!-- Add a Comment -->
  <hr>
  <h2>Add a Comment</h2>
  <div class="row mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'comments/form', commentable: @job %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
    </div>
  </div>
</div>
