<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= @job.title %></h1>
      
      <!-- Job Details -->
      <div class="mt-4">
        <p><strong>Description:</strong> <%= @job.description %></p>
        <p><strong>Job Type:</strong> <%= @job.job_type %></p>
        <p><strong>Location:</strong> <%= @job.location %></p>
        <p><strong>Company:</strong> <%= @job.company_name %></p>
        <p><strong>Company Description:</strong> <%= @job.company_description %></p>
        <p><strong>Company Website:</strong> <%= link_to @job.company_website, @job.company_website %></p>
        <p><strong>Company Phone:</strong> <%= @job.company_phone %></p>
        <p><strong>Company Contact:</strong> <%= @job.company_contact %></p>
        <p><strong>Details:</strong> <%= @job.details %></p>
      </div>

    <p>
      Posted by: <%= link_to @job.user.username, user_path(@job.user) %> <span class="small">- <%= @job.created_at.strftime('%B %d, %Y') %></span>
    </p>
      
    <%= render partial: 'shared/action_buttons', locals: { resource: @job, resource_type: 'job' } %>

    </div>
  </div>

  <!-- Comments Section -->
  
  <%= render partial: 'shared/comments_section', locals: { comments: @comments, commentable: @job } %>



</div>
