<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title/Content</th>
      <th>Flags Count</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.try(:title) || item.try(:content) %></td>
        <td><%= item.flags_count %></td>
        <td><%= item.created_at.strftime("%B %d, %Y") %></td>
        <td>
  <% case item_type %>
    <% when 'Article', 'Job', 'Listing' %>
      <%= link_to "View", polymorphic_path(item) %> |
    <% when 'Comment' %>
      <%= link_to "View", polymorphic_path([item.commentable, item]) %> |
    <% end %>
  <%= link_to "Unflag", unflag_moderators_path(item), method: :post %>
</td>

      </tr>
    <% end %>
  </tbody>
</table>
