<div class="container mt-5">
  <h1 class="mb-4">Moderator Dashboard</h1>

  <% if @flagged_listings.any? %>
    <h2 class="my-3">Flagged Listings</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_listings, item_type: 'Listing' } %>
    </div>
    <%= paginate @flagged_listings, param_name: 'page_listings' %>
  <% end %>

  <% if @flagged_articles.any? %>
    <h2 class="my-3">Flagged Articles</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_articles, item_type: 'Article' } %>
    </div>
    <%= paginate @flagged_articles, param_name: 'page_articles' %>
  <% end %>

  <% if @flagged_jobs.any? %>
    <h2 class="my-3">Flagged Jobs</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_jobs, item_type: 'Job' } %>
    </div>
    <%= paginate @flagged_jobs, param_name: 'page_jobs' %>
  <% end %>

  <% if @flagged_comments.any? %>
    <h2 class="my-3">Flagged Comments</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_comments, item_type: 'Comment' } %>
    </div>
    <%= paginate @flagged_comments, param_name: 'page_comments' %>
  <% end %>

  <% if @flagged_replies.any? %>
    <h2 class="my-3">Flagged Replies</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_replies, item_type: 'Reply' } %>
    </div>
    <%= paginate @flagged_replies, param_name: 'page_replies' %>
  <% end %>

  <% if @flagged_comments.any? %>
    <h2 class="my-3">Flagged Users</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_comments, item_type: 'User' } %>
    </div>
    <%= paginate @flagged_comments, param_name: 'page_users' %>
  <% end %>

  <% if @flagged_poasts.any? %>
    <h2 class="my-3">Flagged Poasts</h2>
    <div class="table-responsive">
      <%= render partial: 'flagged_item', locals: { items: @flagged_poasts, item_type: 'Poast' } %>
    </div>
    <%= paginate @flagged_poasts, param_name: 'page_poasts' %>
  <% end %>


<div class="container mt-5">
  <h1 class="mb-4">Moderator Dashboard</h1>

  <!-- ... existing code for flagged items, etc ... -->

  <!-- Section for Badge Management -->
  <h2 class="my-3">Badge Management</h2>

  <!-- Form to Search User by Username -->
  <%= form_with url: search_user_moderators_path, method: :get, local: true do |form| %>
    <div class="form-group">
      <%= form.label :username, 'Search User by Username' %>
      <%= form.text_field :username, class: 'form-control' %>
    </div>
    <%= form.submit 'Search', class: 'btn btn-primary' %>
  <% end %>

  <!-- Display search results -->
  <% if @user %>
    <h3>Manage Badges for <%= @user.username %></h3>

    <!-- Form to Add Badge -->
    <%= form_with url: assign_badge_moderators_path, method: :post, local: true do |form| %>
      <div class="form-group">
        <%= form.hidden_field :user_id, value: @user.id %>
        <%= form.label :badge_id, 'Select Badge to Assign' %>
        <%= form.select :badge_id, Badge.all.collect { |badge| [ badge.name, badge.id ] }, {}, class: 'form-control' %>
      </div>
      <%= form.submit 'Assign Badge', class: 'btn btn-success' %>
    <% end %>

    <!-- Form to Remove Badge -->
    <%= form_with url: remove_badge_moderators_path, method: :delete, local: true do |form| %>
      <div class="form-group">
        <%= form.hidden_field :user_id, value: @user.id %>
        <%= form.label :badge_id, 'Select Badge to Remove' %>
        <%= form.select :badge_id, @user.badges.collect { |badge| [ badge.name, badge.id ] }, {}, class: 'form-control' %>
      </div>
      <%= form.submit 'Remove Badge', class: 'btn btn-danger' %>
    <% end %>
  <% end %>

  <%= link_to 'Create New Badge', new_badge_moderators_path, class: 'btn btn-secondary' %>


</div>



</div>

