<h1>Moderator Dashboard</h1>

<% if @flagged_listings.any? %>
  <h2>Flagged Listings</h2>
  <%= render partial: 'flagged_item', locals: { items: @flagged_listings, item_type: 'Listing' } %>
  <%= paginate @flagged_listings, param_name: 'page_listings' %>
<% end %>

<% if @flagged_articles.any? %>
  <h2>Flagged Articles</h2>
  <%= render partial: 'flagged_item', locals: { items: @flagged_articles, item_type: 'Article' } %>
  <%= paginate @flagged_articles, param_name: 'page_articles' %>
<% end %>

<% if @flagged_jobs.any? %>
  <h2>Flagged Jobs</h2>
  <%= render partial: 'flagged_item', locals: { items: @flagged_jobs, item_type: 'Job' } %>
  <%= paginate @flagged_jobs, param_name: 'page_jobs' %>
<% end %>

<% if @flagged_comments.any? %>
  <h2>Flagged Comments</h2>
  <%= render partial: 'flagged_item', locals: { items: @flagged_comments, item_type: 'Comment' } %>
  <%= paginate @flagged_comments, param_name: 'page_comments' %>
<% end %>

<% if @flagged_replies.any? %>
  <h2>Flagged Replies</h2>
  <%= render partial: 'flagged_item', locals: { items: @flagged_replies, item_type: 'Reply' } %>
  <%= paginate @flagged_replies, param_name: 'page_replies' %>
<% end %>

<% if @flagged_comments.any? %>
  <h2>Flagged Users</h2>
  <%= render partial: 'flagged_item', locals: { items: @flagged_comments, item_type: 'User' } %>
  <%= paginate @flagged_comments, param_name: 'page_users' %>
<% end %>
