<div id="<%= dom_id article %>">
  <p>
    <strong>User:</strong>
    <%= article.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= article.location %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= article.views %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= article.category %>
  </p>

</div>
