<div class="container mt-5">
  <!-- Display notice -->
  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h1>Local News and Events</h1>

  <!-- New Article Button -->
  <div class="mb-3">
    <%= link_to 'Create New Event or Story', new_article_path, class: "btn btn-primary" %>
  </div>

  <!-- Articles Table -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= link_to article.title, article %></td>
            <td><%= truncate(article.description, length: 50) %></td>
            <td><%= article.location %></td>
            <td><%= article.views %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
