<div class="container">
  <!-- Thumbnail -->
  <% if @article.thumbnail.attached? %>
    <%= image_tag @article.thumbnail.variant(resize: "200x200"), class: 'me-2' %>
  <% end %>

  <!-- Article Details -->
  <div id="<%= dom_id @article %>">
    <h3><%= @article.title %></h3>
    <p><%= @article.description %></p>
    <p>
      <strong>Location:</strong> <%= @article.location %>
    </p>
    <p>
      <strong>Views:</strong> <%= @article.views %>
    </p>
    <p>
      Posted by: <%= @article.user.username %>
    </p>
  </div>

  <hr>

  <!-- Article Content -->
  <div>
    <%= @article.content %>
  </div>

  <!-- Flag and Edit Links -->
  <div>
   

    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary" %> |
    <%= link_to "Back to articles", articles_path, class: "btn btn-secondary" %>

    <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger" %>
  </div>

  <hr>

  <!-- Comments Section -->
  <h2>Comments!</h2>
  <div class="row mt-5">
    <div class="col">
      <% @article.comments.each do |comment| %>
        <div class="card mb-3">
          <div class="card-body">
            <%= comment.content %>
            <p class="text-muted mt-2">
              Posted by <%= comment.user.username %> on <%= comment.created_at.strftime('%B %d, %Y') %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <!-- Add a Comment -->
  <h2>Add a Comment</h2>
  <div class="row mt-2">
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'comments/form', commentable: @article %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
    </div>
  </div>
</div>




<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
